<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Studio - Creative Photography Template | Blog</title>

    <!-- Favicon  -->
    <link rel="icon" href="{% static 'app/img/core-img/favicon.ico'%}">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="{% static 'app/css/core-style.css'%}">
    <link rel="stylesheet" href="{% static 'app/css/style.css'%}">

    <!-- Responsive CSS -->
    <link href="{% static 'app/css/responsive.css'%}" rel="stylesheet">

</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div class="showbox">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
            </svg>
        </div>
    </div>
    <div class="questions-area text-center">
        <p>Please Wait...</p>
        <ul>
            <li>Valkyrie Blockchain Trade System</li>
        </ul>
    </div>
</div>

<!-- Gradient Background Overlay -->
<div class="gradient-background-overlay"></div>

<!-- Header Area Start -->
<header class="header-area bg-img" style="background-image: url(../../static/app/img/bg-img/14.jpg);">
    <div class="container-fluid h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 h-100">
                <div class="main-menu h-100">
                    <nav class="navbar h-100 navbar-expand-lg">
                        <!-- Logo Area  -->
                        <a class="navbar-brand" href="index.html"><img src="{% static 'app/img/core-img/logo.png'%}"
                                                                       alt="Logo"></a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#studioMenu"
                                aria-controls="studioMenu" aria-expanded="false" aria-label="Toggle navigation"><i
                                class="fa fa-bars"></i> Menu
                        </button>

                        <div class="collapse navbar-collapse" id="studioMenu">
                            <!-- Menu Area Start  -->
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'index4'%}">Home </a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'charts'%}">환율정보</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">문서 작성</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{% url 'forms4_1'%}">선하증권</a>
                                        <a class="dropdown-item" href="{% url 'forms4_2'%}">인도지시서</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">작성 문서 관리</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{% url 'ing4_1'%}">선하증권</a>
                                        <a class="dropdown-item" href="{% url 'ing4_2'%}">인도지시서</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">받은 문서 관리</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{% url 'srreceived'%}">선적요청서</a>

                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="">MYPAGE</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'logout'%}">LOGOUT</a>
                                </li>
                            </ul>
                            <!-- Search Form -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->

<!-- Social Sidebar Area Start -->
<div class="social-sidebar-area">
    <!-- Social Area -->
    <div class="social-info-area">
        <a href="#" data-toggle="tooltip" data-placement="right" title="Facebook"><i class="fa fa-facebook"
                                                                                     aria-hidden="true"></i> <span>Facebook</span></a>
        <a href="#" data-toggle="tooltip" data-placement="right" title="Twitter"><i class="fa fa-twitter"
                                                                                    aria-hidden="true"></i> <span>Twitter</span></a>
        <a href="#" data-toggle="tooltip" data-placement="right" title="Pinterest"><i class="fa fa-pinterest"
                                                                                      aria-hidden="true"></i> <span>Pinterest</span></a>
        <a href="#" data-toggle="tooltip" data-placement="right" title="Behance"><i class="fa fa-behance"
                                                                                    aria-hidden="true"></i> <span>Behance</span></a>
    </div>
</div>
<!-- Social Sidebar Area End -->

<!-- Blog Area Start -->
<section class="blog-area section_padding_100 mt-100">
    <div class="container">
        <div class="row justify-content-center">
<div class="container-fluid" style="margin:5px; margin-bottom:10px;">
    <h4 class="my-4">인도지시서(D/O) 관리({{n}}건)</h4>

    <div class="row">
        {% for c in contract %}
        <div class="col-lg-4 mb-4" style="margin-bottom:30px; margin-top:30px">

          <input type="checkbox" id="{{c.id}}" value="{{ c.id }}"><a>Check</a>
          <div class="card h-100">

            <h5 class="card-header">


            Contract ID.{{c.contract_id}}<hr>

              {{c.contractname}}</h5>
            <div class="card-body">
              <p class="card-text">

              <h5>Document Hash:<br>{{c.sha256}}</h5></p>
            </div>
            <div class="card-footer">
              <a href="{% url 'download4_2' %}?id={{ c.id }}" class="btn btn-dark" target="_blank">
                    {{c.filename}}
              </a>
              <hr>
                <h5>To (수입자ID):{{c.share1}}</h5>
            </div>
          </div>
        </div>
        {% endfor %}
<hr>
    </div>

<hr>
  <div class="pagination" style="text-align:center; margin:auto;">
    <span class="step-links" style="text-align:center; margin:auto;">
      <ul class="pagination pagination-lg" >
        {% if contract.has_previous %}
            <li><a class="btn" style="font-size:20px" href="?page=1">&laquo; first&nbsp</a></li>
            <li><a class="btn" style="font-size:20px" href="?page={{ contract.previous_page_number }}">previous</a></li>
        {% endif %}


      {% for pg in contract.paginator.page_range %}
        {% if blogs.number == pg %}
          <li><a style="font-size:20px" href="?page={{pg}}" class="btn btn-default">{{pg}}</a></li>
        {% else %}
          <li><a style="font-size:20px" href="?page={{pg}}" class="btn">{{pg}}</a></li>
        {% endif %}
      {% endfor %}


        {% if contract.has_next %}
            <li><a class="btn" style="font-size:20px" href="?page={{ contract.next_page_number }}">next&nbsp</a></li>
            <li><a class="btn" style="font-size:20px" href="?page={{ contract.paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
        </ul>
    </span>
  </div>

  <div class="row">

    <div style="text-align:center; margin:auto;" >
        <a>수입자ID:</a>
      <input class="form-control" name="share_user" id="share_user">
        <br>
      <input class="btn btn-dark" type="button" value="전송하기" id="share4_1">
      <input class="btn btn-dark" type="button" value="선택삭제" id="delete_btn">


        </div>
  </div>

<!--</form>-->
</div>

        <!-- Sticky Footer -->

  </div>
        <!-- Pagination -->
    </div>
</section>
<!-- Blog Area End -->

<!-- Footer Area Start -->
<footer class="footer-area">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-12 h-100">
                <div class="footer-content h-100 d-md-flex align-items-center justify-content-between">
                    <!-- Single Footer Content -->
                    <div class="single-footer-content">
                        <img src="{% static 'app/img/core-img/map.png'%}" alt="">
                        <a href="#">Blvd Libertad, 34 m05200 Arévalo</a>
                    </div>
                    <!-- Single Footer Content -->
                    <div class="single-footer-content">
                        <img src="{% static 'app/img/core-img/smartphone.png'%}" alt="">
                        <a href="#">0034 37483 2445 322</a>
                    </div>
                    <!-- Single Footer Content -->
                    <div class="single-footer-content">
                        <img src="{% static 'app/img/core-img/envelope-2.png'%}" alt="">
                        <a href="#">hello@company.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->


<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="{% static 'app/js/jquery/jquery-2.2.4.min.js'%}"></script>
<!-- Popper js -->
<script src="{% static 'app/js/popper.min.js'%}"></script>
<!-- Bootstrap js -->
<script src="{% static 'app/js/bootstrap.min.js'%}"></script>
<!-- Plugins js -->
<script src="{% static 'app/js/plugins.js'%}"></script>
<!-- Active js -->
<script src="{% static 'app/js/active.js'%}"></script>

</body>
  <script>
      $('#delete_btn').click(function() {
        check_ids = ''
        sep = ''
        $('input:checked').each(function() {
          check_ids += sep + $(this).val()
          sep = ','
        })

        location = '/app/remove4_2?check_id=' + check_ids
        return false
      })

      $('#share4_1').click(function(){
        var share_user = $("#share_user").val();


        if($('#share_user').val().length==0){
        alert("수입자ID를 입력하세요.");
        $('#share_user').focus();return false;}
        $('input:checked').each(function() {
          check_id = $(this).val()

        alert(share_user+'에게 전송되었습니다.')
        })
        location = '/app/share4_2?check_id=' + check_id +'&share_user=' + share_user
        return false
      })


    </script>

</html>
