<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Valkyrie System</title>

    <!-- Favicon  -->
    <link rel="icon" href="{% static 'app/img/core-img/favicon.ico'%}">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="{% static 'app/css/core-style.css'%}">
    <link rel="stylesheet" href="{% static 'app/css/style.css'%}">

    <!-- Responsive CSS -->
    <link href="{% static 'app/css/responsive.css'%}" rel="stylesheet">

</head>
<style>

    @media (max-width:768px){section{padding:50px 0px 0px 0px!important}}
    @media (min-width:968px){.card-login{width:500px}}
    body{background-image: url(../../static/app/img/bg-img/login.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    background-size:cover;
    }
    label,a{color:#ff8a12; weight:500;}
    .btn{color:#ff8a12;border-color:#ff8a12;}
    .btn:hover{background-color:#ff8a12; border-color:#ff8a12;}
    .card{background:#1d1d1de8;  vertical-align: middle;
  }
</style>
<body>
<!-- Preloader -->
<div id="preloader">
    <div class="showbox">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
            </svg>
        </div>
    </div>
    <div class="questions-area text-center">
        <p>Please Wait...</p>
        <ul>
            <li>Valkyrie Blockchain Trade System</li>
        </ul>
    </div>
</div>

<!-- Gradient Background Overlay -->
<div class="gradient-background-overlay"></div>

<!-- Header Area Start -->
<header class="header-area bg-img" style="">
    <div class="container-fluid h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 h-100">
                <div class="main-menu h-100">
                    <nav class="navbar h-100 navbar-expand-lg">
                        <!-- Logo Area  -->
                        <a class="navbar-brand" href="{% url 'index' %}">
                            <img src="{% static 'app/img/core-img/logo.png'%}" alt="Logo">
                        </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#studioMenu"
                                aria-controls="studioMenu" aria-expanded="false" aria-label="Toggle navigation"><i
                                class="fa fa-bars"></i> Menu
                        </button>

                        <div class="collapse navbar-collapse" id="studioMenu">
                            <!-- Menu Area Start  -->
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'about'%}">ABOUT</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'registerpage'%}">REGISTER</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'login'%}">LOGIN</a>
                                </li>
                            </ul>
                            <!-- Search Form -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->


<!-- Social Sidebar Area End -->

<!--Valkyrie System Area Start -->
<section style="height:100%; vertical-align:middle; padding-top:5%;" class="blog-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="container-fluid">

                <div class="card card-login mx-auto mt-5" >
                    <div class="card-header" style="color:#ff8a12;font-weight:700; border-bottom:solid 1px; border-color:white!important;">Login</div>
                    <div class="card-body">
                    <form>
                        <select class="custom-select" name="user_role" style="width:200px;">
                            <option value="1" selected>수입자</option>
                            <option value="2">수출자</option>
                            <option value="3">은행</option>
                            <option value="4">운송사</option>
                        </select>
                        <div class="form-group">
                            <div class="form-label-group">

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <label for="inputEmail">Email address</label>
                                <input name="email" type="email" id="inputEmail" class="form-control"
                                       placeholder="Email address"
                                       required="required" >

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <label for="inputPassword">Password</label>
                                <input name="password" type="password" id="inputPassword" class="form-control"
                                       placeholder="Password" required="required">

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="remember-me">
                                    <a>Remember Password</a>
                                </label>
                            </div>
                        </div>
                        <hr style="border-top:solid 1px; border-color:white!important;">
                        <a id='login' class="btn btn-outline-dark btn-block" href="{% url 'index' %}">Login</a>


                        {% csrf_token %}
                    </form>
                    </div>
                    <div class="text-center">
                        <a class="d-block small mt-3" href="{% url 'registerpage' %}">Register an Account</a>
                        <a class="d-block small" href="{% url 'forgot'%}">Forgot Password?</a>
                        <br>
                    </div>
                </div>

            </div>

        </div>
        <!-- Pagination -->
    </div>
</section>
<!--Valkyrie System Area End -->

<!-- Footer Area Start -->
<footer class="footer-area">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-12 h-100">
                <div class="footer-content h-100 d-md-flex align-items-center justify-content-between">
                    <!-- Single Footer Content -->
                    <div class="single-footer-content">
                        <img src="{% static 'app/img/core-img/map.png'%}" alt="">
                        <a href="#">Korea, Seoul</a>
                    </div>
                    <!-- Single Footer Content -->
                    <div class="single-footer-content">
                        <img src="{% static 'app/img/core-img/smartphone.png'%}" alt="">
                        <a href="#">000-0000-0000</a>
                    </div>
                    <!-- Single Footer Content -->
                    <div class="single-footer-content">
                        <img src="{% static 'app/img/core-img/envelope-2.png'%}" alt="">
                        <a href="#">valkyrie@valkyriesystem.online</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->


<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="{% static 'app/js/jquery/jquery-2.2.4.min.js'%}"></script>
<!-- Popper js -->
<script src="{% static 'app/js/popper.min.js'%}"></script>
<!-- Bootstrap js -->
<script src="{% static 'app/js/bootstrap.min.js'%}"></script>
<!-- Plugins js -->
<script src="{% static 'app/js/plugins.js'%}"></script>
<!-- Active js -->
<script src="{% static 'app/js/active.js'%}"></script>

</body>

<script>


    //로그인 버튼 활성화
      $('#login').click(function() {
        $.ajax({
          url: '',
          type: 'post',
          data: $('form').serialize(),
          success: function(res) {
            alert(res.result)
            if(res.result == 'success') {
              location = '/index'
            }
          }
        })
        return false
      })


//엔터로 로그인하기
var input = document.getElementById("inputPassword");

// Execute a function when the user releases a key on the keyboard
input.addEventListener("keyup", function(event) {

// Cancel the default action, if needed
event.preventDefault();

// Number 13 is the "Enter" key on the keyboard
if (event.keyCode === 13) {

// Trigger the button element with a click
document.getElementById("login").click();
}
});




</script>

</html>
