<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Valkyrie System</title>

    <!-- Favicon  -->
    <link rel="icon" href="{% static 'app/img/core-img/favicon.ico'%}">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="{% static 'app/css/core-style.css'%}">
    <link rel="stylesheet" href="{% static 'app/css/style.css'%}">

    <!-- Responsive CSS -->
    <link href="{% static 'app/css/responsive.css'%}" rel="stylesheet">

</head>
<style>
.wrapper{ border-radius:10px; background-position:center; background-size:cover;}
.card{background:#1d1d1de8;padding:10px;}
    .card-header{ color:#ff8a12;font-size:20px; border-bottom:1px solid white;}
    .card-body{color:white;font-size:18px;}
    @media (max-width:768px){.card-header{font-size:16px} th,td{font-size:15px}}
 #drop_zone, #doc_check{color:#ff8a12;border-color:#ff8a12;}
    #drop_zone:hover, #doc_check:hover{background-color:#ff8a12; border-color:#ff8a12;color:white;}
    #list{color:white;}


</style>
<body>
<!-- Preloader -->
<div id="preloader">
    <div class="showbox">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2"
                        stroke-miterlimit="10"></circle>
            </svg>
        </div>
    </div>
    <div class="questions-area text-center">
        <p>Please Wait...</p>
        <ul>
            <li>Valkyrie Blockchain Trade System</li>
        </ul>
    </div>
</div>

<!-- Gradient Background Overlay -->
<div class="gradient-background-overlay"></div>

<!-- Header Area Start -->
<header class="header-area bg-img" style="background-image: url(../../static/app/img/bg-img/14.jpg);">
    <div class="container-fluid h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 h-100">
                <div class="main-menu h-100">
                    <nav class="navbar h-100 navbar-expand-lg">
                        <!-- Logo Area  -->
                        <a class="navbar-brand" href="{% url 'index3' %}"><img
                                src="{% static 'app/img/core-img/logo.png'%}"
                                alt="Logo"></a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#studioMenu"
                                aria-controls="studioMenu" aria-expanded="false" aria-label="Toggle navigation"><i
                                class="fa fa-bars"></i> Menu
                        </button>

                        <div class="collapse navbar-collapse" id="studioMenu">
                            <!-- Menu Area Start  -->
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'index3'%}">Home </a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'charts'%}">환율정보</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">문서 작성</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{% url 'forms3'%}">신용장</a>

                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">작성 문서 관리</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{% url 'ing3'%}">신용장</a>

                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">받은 문서 관리</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{% url 'lcrreceived'%}">신용장 신청서</a>
                                        <a class="dropdown-item" href="{% url 'doreceived2'%}">인도지시서</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'mypage3'%}">MYPAGE</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="" data-toggle="modal"
                                       data-target="#logoutModal">LOGOUT</a>
                                </li>
                            </ul>
                            <!-- Search Form -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->


<!--Valkyrie System Area Start -->
<section class="blog-area section_padding_100 mt-100">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Breadcrumbs-->

            <div class="container-fluid">
                <div class="wrapper" style="background-image: url(../../static/app/img/lock.jpg);">
                    <div class="card">
                        <div class="card-header">
                            Trade History
                            &nbsp/&nbspContract ID : {{cid}}
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" style="border-radius:5px;text-align:center;">
                                    <tr style="text-align:center;">
                                        <th>시간</th>
                                        <th>From</th>
                                        <th>To</th>

                                        <th>Document Hash</th>


                                        <th>TxID</th>


                                    </tr>
                                    {% for c in history %}
                                    <tr>
                                        <td>{{c.Timestamp}}</td>


                                        <td>
                                            {{c.Value.ci.from}}
                                            {{c.Value.lcr.from}}
                                            {{c.Value.lc.from}}
                                            {{c.Value.sr.from}}
                                            {{c.Value.bl.from}}
                                            {{c.Value.do.from}}
                                        </td>

                                        <td>
                                            {{c.Value.ci.To}}
                                            {{c.Value.lcr.To}}
                                            {{c.Value.lc.To}}
                                            {{c.Value.sr.To}}
                                            {{c.Value.bl.To}}
                                            {{c.Value.do.To}}
                                        </td>

                                        <td>
                                            <div>
                                                {{c.Value.ci.doc_hash}}
                                                {{c.Value.lcr.doc_hash}}
                                                {{c.Value.lc.doc_hash}}
                                                {{c.Value.sr.doc_hash}}
                                                {{c.Value.bl.doc_hash}}
                                                {{c.Value.do.doc_hash}}
                                            </div>
                                        </td>

                                        <td>{{c.TxId}}</td>

                                    </tr>

                                    {%endfor%}
                                </table>
                            </div>
                        </div>
                        <div class="card-footer" style="text-align:center;">
                            <div>
                                <input style="display:none;" class="checkbox" type="checkbox" id="crypto"
                                       title="Fastest SHA-256(WebCrypto API)"/>
                                <input style="display:none;" type="checkbox" id="hash_sha256"
                                       title="Check this to calculate SHA2 (SHA-256) file hash" checked/>
                                <div style="float: right">
                                    <input style="display:none;" type="file" id="files" name="files[]"
                                           multiple/>
                                </div>
                            </div>
                            <div class="form-group col-8 mx-auto">
                                <label class="form-group-text" for="doc_hash" style="color:#ff8a12;">Document
                                    Hash</label>
                                <input class="form-control" style="text-align:center;" id="doc_hash">
                            </div>
                            <div id="list"></div>
                            <div id="check"></div>
                            <div class="btn btn-outline-dark" id="drop_zone">
                                파일 선택
                            </div>
                            <div class="btn btn-outline-dark" id="doc_check">
                                진위여부 확인
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</section>
<!--Valkyrie System Area End -->

<!-- Footer Area Start -->
<footer class="footer-area">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-12 h-100">
                <div class="footer-content h-100 d-md-flex align-items-center justify-content-between">
                    <!-- Single Footer Content -->
                    <div class="single-footer-content">
                        <i class="fa fa-wifi"></i>
                        <a>valkyriesystem.online</a>
                    </div>
                    <!-- Single Footer Content -->
                    <div class="single-footer-content">
                        <i class="fa fa-copyright"></i>
                        <a>Operation Valkyrie</a>
                    </div>
                    <!-- Single Footer Content -->
                    <div class="single-footer-content">
                        <i class="fa fa-file-text-o"></i>
                        <a href="{% url 'user_manual' %}" target="_blank">User Manual</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->

<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <a style="color:white;" class="btn btn-dark" data-dismiss="modal">Cancel</a>
                <a class="btn" style="color:white;background:#ff8a12;" href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    </div>
</div>
<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="{% static 'app/js/jquery/jquery-2.2.4.min.js'%}"></script>
<!-- Popper js -->
<script src="{% static 'app/js/popper.min.js'%}"></script>
<!-- Bootstrap js -->
<script src="{% static 'app/js/bootstrap.min.js'%}"></script>
<!-- Plugins js -->
<script src="{% static 'app/js/plugins.js'%}"></script>
<!-- Active js -->
<script src="{% static 'app/js/active.js'%}"></script>

<script src="{% static 'app/js/sha256.js' %}"></script>
</body>

<script>
$('#doc_check').click(function(){
    var x = $('#doc_hash').val();
    var y = document.getElementById("list").textContent;
    $('#check').empty();
    if (x==''){
        alert("Document Hash가 입력되지 않았습니다.")
    }else if (y==''){
        alert("확인할 문서를 선택하세요.")
    }else if (x != y){
        $('#list').css("color", "#ff1f1f");
        $('#check').append(`<h6 style="color:#ff1f1f;">불일치 - 위조 문서</h6>`)
    }else if (x==y){
        $('#list').css("color", "#39ff39");
        $('#check').append(`<h6 style="color:#39ff39;">일치 - 원본 문서</h6>`)
    }else{
        return false;
    }
});

$('#list').change(function(){
    $('#list').css("color", "white");
});

</script>


</html>
